body
  font-family: $font-body
  margin: 0
  border-bottom: 250px solid #222
  overflow-x: hidden
  ul
    list-style-type: none
  h2
    font-weight: 300
    margin-bottom: 20px
  a
    &:hover,
    &:focus,
    &:active
      text-decoration: none

#wrapper
  padding: 0 0 100px
  overflow-x: hidden
  margin-top: -10px
  .content-heading,
  .content
    min-height: 300px
    margin: 0 0 0
    padding: 20px 25px 40px
    h1, h2, h3
      font-family: $font-BrutalLight
    h4, h5, h6
      font-family: $font-BrutalBold
    h2
      margin-top: 0

    img
      margin-bottom: 40px
      &.inline
        margin: 0 5px
    h6
      color: #333
      margin-bottom: 20px
    p
      line-height: 26px
    ul
      list-style: disc
    li
      padding: 10px 0
    .image-box
      background: #ebebeb
      height: 400px
      width: 100%
      display: block
      margin-bottom: 20px
  .content-heading
    position: relative
    overflow: hidden
    padding-bottom: 20px
    min-height: 20px

.overview
  background: #edeff3

.sublinks
  background: #edeff3
  padding: 20px
  list-style: none
  li
    padding: 10px 0