
.logo-small{
  position: absolute;
  top: 40px;
  left: 60px;
  @include respond-max-width(sm) {
    left: 20px;
  }
  @include respond-max-width(xs) {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
  }
  padding:20px;
  color: $header-text-color;
  display: block;
  font-size: 48px;
  border:2px solid $header-text-color;
  &:hover{
    color: $header-text-color;
    text-decoration: none;
  }
}

section#logo {
  padding: 40px 15px 20px;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index:999;
  background: #333;
  width: 100vw;
  height: 100vh;
  opacity:1;

  .logo-wrapper {
    width: 320px;
    height: 70px;
    position: relative;
    overflow: hidden;
    opacity:0;

    i {
      margin-top: 12px;
      margin-left: 15px;
      color: #fff;
      display: block;
      font-size: 48px;
    }

    .left,
    .right,
    .top,
    .bottom,
    .middle,
    .text {
      position: absolute;
      display: block;
      background: #fff;
    }

    .text {
      left: 95px;
      top: 15px;
      background: none;
      color: #fff;
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      font-size: 34px;
      @media only screen and (max-width: 400px) {
        font-size: 30px;
      }
    }

    .left,
    .right,
    .middle {
      top: 0;
      left: 0;
      height: 100%;
      width: 2px;
    }

    .right {
      left: auto;
      right: 0;
    }

    .bottom,
    .top {
      width: 100%;
      top: 0;
      height: 2px;
    }

    .bottom {
      top: auto;
      bottom: 0;
      left: auto;
      right: 0;
    }

    .top {
      left: 0;
      right: auto;
    }

    .middle {
      left: 85px;
    }
  }
}

.skipIntro section#logo {
  position: absolute;
  top: 10px;
  left: 60px;
  .logo-wrapper {

    .left,
    .right,
    .top,
    .bottom,
    .middle,
    .text {
      background: #fff;
    }

    .text {
      display: none;
    }
    .bottom,
    .top {
      width: 85px;
      left: 0;
      right: auto;
    }

    .right {
      display: none;
    }
  }
}
