h1{
  color: $text-color;
  font-weight: 700;
  text-align: left;
  font-size: 200px;
  line-height:170px;
  letter-spacing: 2px;
  @include respond-max-width(sm){
    font-size: 32px;
    line-height:50px;
  }
}

h2{
  color: $text-color;
  text-transform: uppercase;
  font-weight: 800;
  text-align: left;
  font-size: 32px;
  margin-bottom: 20px;
  line-height:40px;
  position: relative;
  @include respond-max-width(sm){
    font-size: 18px;
    margin-bottom: 0;
  }
}

h3{
  color: $text-color;
  text-transform: uppercase;
  text-align: left;
  font-weight: 700;
  letter-spacing: 2px;
  margin-top:40px;
  @include respond-max-width(sm){
    font-size: 14px;
    line-height: 28px;
    margin-top:10px;
  }
}

.left-text-offset{
  padding-left: 120px;
}

p{
  line-height: 1.8em;
}

a.btn {
  text-transform: uppercase;
  display: inline-block;
  padding: 10px;
  border: 1px solid $text-color;
  color: $text-color;
  width: 150px;
  margin: 50px 20px 0 0;
  border-radius: 0;
  transition: all ease .3s;
  @include respond-max-width(sm){
    margin: 20px auto 0;
  }
  text-align: center;
  &:hover {
    text-decoration: none;
    border-color: lighten($text-color, 20%);
    color: #000;
    background-color: $text-color;
  }
}
