@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?x4znnt");
  src: url("../fonts/icomoon.eot?#iefixx4znnt") format("embedded-opentype"), url("../fonts/icomoon.woff?x4znnt") format("woff"), url("../fonts/icomoon.ttf?x4znnt") format("truetype"), url("../fonts/icomoon.svg?x4znnt#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../scss/_fonts.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 24, ../scss/_fonts.scss */
.icon-mail:before {
  content: "\e902";
}

/* line 27, ../scss/_fonts.scss */
.icon-resume:before {
  content: "\e923";
}

/* line 30, ../scss/_fonts.scss */
.icon-link-external:before {
  content: "\e903";
}

/* line 33, ../scss/_fonts.scss */
.icon-mail2:before {
  content: "\e945";
}

/* line 36, ../scss/_fonts.scss */
.icon-github2:before {
  content: "\eab0";
}

/* line 39, ../scss/_fonts.scss */
.icon-stackoverflow:before {
  content: "\ead0";
}

/* line 42, ../scss/_fonts.scss */
.icon-logo:before {
  content: "\e600";
}

/* line 45, ../scss/_fonts.scss */
.icon-github:before {
  content: "\e900";
}

/* line 48, ../scss/_fonts.scss */
.icon-behance:before {
  content: "\e901";
}

/* line 2, ../scss/_logo.scss */
.logo-small {
  position: absolute;
  top: 40px;
  left: 60px;
  padding: 20px;
  color: #fff;
  display: block;
  font-size: 48px;
  border: 2px solid #fff;
}
@media only screen and (max-width: 991px) {
  /* line 2, ../scss/_logo.scss */
  .logo-small {
    left: 20px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 2, ../scss/_logo.scss */
  .logo-small {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
  }
}
/* line 21, ../scss/_logo.scss */
.logo-small:hover {
  color: #fff;
  text-decoration: none;
}

/* line 27, ../scss/_logo.scss */
section#logo {
  padding: 40px 15px 20px;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 999;
  background: #333;
  width: 100vw;
  height: 100vh;
  opacity: 1;
}
/* line 41, ../scss/_logo.scss */
section#logo .logo-wrapper {
  width: 320px;
  height: 70px;
  position: relative;
  overflow: hidden;
  opacity: 0;
}
/* line 48, ../scss/_logo.scss */
section#logo .logo-wrapper i {
  margin-top: 12px;
  margin-left: 15px;
  color: #fff;
  display: block;
  font-size: 48px;
}
/* line 56, ../scss/_logo.scss */
section#logo .logo-wrapper .left,
section#logo .logo-wrapper .right,
section#logo .logo-wrapper .top,
section#logo .logo-wrapper .bottom,
section#logo .logo-wrapper .middle,
section#logo .logo-wrapper .text {
  position: absolute;
  display: block;
  background: #fff;
}
/* line 67, ../scss/_logo.scss */
section#logo .logo-wrapper .text {
  left: 95px;
  top: 15px;
  background: none;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 34px;
}
@media only screen and (max-width: 400px) {
  /* line 67, ../scss/_logo.scss */
  section#logo .logo-wrapper .text {
    font-size: 30px;
  }
}
/* line 80, ../scss/_logo.scss */
section#logo .logo-wrapper .left,
section#logo .logo-wrapper .right,
section#logo .logo-wrapper .middle {
  top: 0;
  left: 0;
  height: 100%;
  width: 2px;
}
/* line 89, ../scss/_logo.scss */
section#logo .logo-wrapper .right {
  left: auto;
  right: 0;
}
/* line 94, ../scss/_logo.scss */
section#logo .logo-wrapper .bottom,
section#logo .logo-wrapper .top {
  width: 100%;
  top: 0;
  height: 2px;
}
/* line 101, ../scss/_logo.scss */
section#logo .logo-wrapper .bottom {
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
}
/* line 108, ../scss/_logo.scss */
section#logo .logo-wrapper .top {
  left: 0;
  right: auto;
}
/* line 113, ../scss/_logo.scss */
section#logo .logo-wrapper .middle {
  left: 85px;
}

/* line 119, ../scss/_logo.scss */
.skipIntro section#logo {
  position: absolute;
  top: 10px;
  left: 60px;
}
/* line 125, ../scss/_logo.scss */
.skipIntro section#logo .logo-wrapper .left,
.skipIntro section#logo .logo-wrapper .right,
.skipIntro section#logo .logo-wrapper .top,
.skipIntro section#logo .logo-wrapper .bottom,
.skipIntro section#logo .logo-wrapper .middle,
.skipIntro section#logo .logo-wrapper .text {
  background: #fff;
}
/* line 134, ../scss/_logo.scss */
.skipIntro section#logo .logo-wrapper .text {
  display: none;
}
/* line 137, ../scss/_logo.scss */
.skipIntro section#logo .logo-wrapper .bottom,
.skipIntro section#logo .logo-wrapper .top {
  width: 85px;
  left: 0;
  right: auto;
}
/* line 144, ../scss/_logo.scss */
.skipIntro section#logo .logo-wrapper .right {
  display: none;
}

/* line 1, ../scss/_scaffolding.scss */
body, html {
  font-family: "Source Sans", sans-serif, arial;
  font-size: 16px;
  color: #fff;
  line-height: 20px;
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* line 12, ../scss/_scaffolding.scss */
.col-centered {
  float: none;
  margin: 120px auto;
}

/* line 17, ../scss/_scaffolding.scss */
body.home {
  background: #2b2b2b;
}
/* line 20, ../scss/_scaffolding.scss */
body.home:not(.skipIntro) section {
  opacity: 0;
}
/* line 25, ../scss/_scaffolding.scss */
body.home.skipIntro #logo {
  display: none;
}

/* line 30, ../scss/_scaffolding.scss */
.row > div {
  padding: 0;
}

/* line 1, ../scss/_type.scss */
h1 {
  color: #fff;
  font-weight: 700;
  text-align: left;
  font-size: 200px;
  line-height: 170px;
  letter-spacing: 2px;
}
@media only screen and (max-width: 991px) {
  /* line 1, ../scss/_type.scss */
  h1 {
    font-size: 32px;
    line-height: 50px;
  }
}

/* line 14, ../scss/_type.scss */
h2 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;
  text-align: left;
  font-size: 32px;
  margin-bottom: 20px;
  line-height: 40px;
  position: relative;
}
@media only screen and (max-width: 991px) {
  /* line 14, ../scss/_type.scss */
  h2 {
    font-size: 18px;
    margin-bottom: 0;
  }
}

/* line 29, ../scss/_type.scss */
h3 {
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  font-weight: 700;
  letter-spacing: 2px;
  margin-top: 40px;
}
@media only screen and (max-width: 991px) {
  /* line 29, ../scss/_type.scss */
  h3 {
    font-size: 14px;
    line-height: 28px;
    margin-top: 10px;
  }
}

/* line 43, ../scss/_type.scss */
.left-text-offset {
  padding-left: 120px;
}

/* line 47, ../scss/_type.scss */
p {
  line-height: 1.8em;
}

/* line 51, ../scss/_type.scss */
a.btn {
  text-transform: uppercase;
  display: inline-block;
  padding: 10px;
  border: 1px solid #fff;
  color: #fff;
  width: 150px;
  margin: 50px 20px 0 0;
  border-radius: 0;
  transition: all ease .3s;
  text-align: center;
}
@media only screen and (max-width: 991px) {
  /* line 51, ../scss/_type.scss */
  a.btn {
    margin: 20px auto 0;
  }
}
/* line 65, ../scss/_type.scss */
a.btn:hover {
  text-decoration: none;
  border-color: white;
  color: #000;
  background-color: #fff;
}

/* line 1, ../scss/_content.scss */
.header-wrapper {
  z-index: 8;
  height: 50px;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 9, ../scss/_content.scss */
.header-wrapper .header-logo {
  position: absolute;
  top: 50px;
  left: 50px;
}
@media only screen and (max-width: 991px) {
  /* line 9, ../scss/_content.scss */
  .header-wrapper .header-logo {
    top: 28px;
  }
}

/* line 19, ../scss/_content.scss */
.hamburger {
  position: absolute;
  right: 50px;
  top: 20px;
  margin-top: 2%;
  border-radius: 2px;
  height: 36px;
  width: 36px;
  cursor: pointer;
  z-index: 8;
}
/* line 29, ../scss/_content.scss */
.hamburger:before {
  box-sizing: content-box;
  border-bottom: 17px double #fff;
  border-top: 6px solid #fff;
  content: "";
  height: 5px;
  position: absolute;
  right: 3px;
  top: 4px;
  width: 30px;
}

/* line 42, ../scss/_content.scss */
.item-wrapper {
  width: 200px;
  height: 200px;
  position: absolute;
  transition: all .8s ease-in-out;
  bottom: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;
  color: #fff;
}
/* line 50, ../scss/_content.scss */
.item-wrapper.active {
  width: 100vw;
  height: 100vh;
}
/* line 53, ../scss/_content.scss */
.item-wrapper.active .key-art {
  animation: slide .5s forwards ease-in-out;
  animation-delay: 1s;
}
@media only screen and (max-width: 991px) {
  /* line 53, ../scss/_content.scss */
  .item-wrapper.active .key-art {
    display: none;
  }
}
/* line 61, ../scss/_content.scss */
.item-wrapper.active .info-box {
  animation: slide .8s forwards ease-in-out;
  animation-delay: 1s;
}
/* line 66, ../scss/_content.scss */
.item-wrapper.active .title-box {
  animation-delay: 1.2s !important;
  animation: slideFade .5s forwards ease-in-out;
}
/* line 71, ../scss/_content.scss */
.item-wrapper.active#paragon {
  background: #181818;
  z-index: 2;
}
/* line 74, ../scss/_content.scss */
.item-wrapper.active#paragon .key-art {
  background: url(./../../../assets/images/paragon.png) no-repeat top left;
}
/* line 79, ../scss/_content.scss */
.item-wrapper.active#ut {
  background: #410f0f;
  z-index: 3;
}
/* line 82, ../scss/_content.scss */
.item-wrapper.active#ut .title-box {
  top: 300px;
}
@media only screen and (max-width: 991px) {
  /* line 82, ../scss/_content.scss */
  .item-wrapper.active#ut .title-box {
    top: auto;
    bottom: 90px;
  }
}
/* line 89, ../scss/_content.scss */
.item-wrapper.active#ut .key-art {
  background: url(./../../../assets/images/ut.png) no-repeat top left;
}
/* line 94, ../scss/_content.scss */
.item-wrapper.active#ue {
  background: #09253f;
  z-index: 4;
}
/* line 97, ../scss/_content.scss */
.item-wrapper.active#ue .title-box {
  top: 300px;
}
@media only screen and (max-width: 991px) {
  /* line 97, ../scss/_content.scss */
  .item-wrapper.active#ue .title-box {
    top: auto;
    bottom: 90px;
  }
}
@media only screen and (max-width: 991px) {
  /* line 104, ../scss/_content.scss */
  .item-wrapper.active#ue .title-box {
    bottom: 100px;
  }
}
/* line 109, ../scss/_content.scss */
.item-wrapper.active#ue .key-art {
  background: url(./../../../assets/images/ue.png) no-repeat top left;
}
/* line 114, ../scss/_content.scss */
.item-wrapper.active#fortnite {
  background: #293c3f;
  z-index: 5;
}
/* line 117, ../scss/_content.scss */
.item-wrapper.active#fortnite .key-art {
  background: url(./../../../assets/images/fortnite.png) no-repeat top left;
}
/* line 122, ../scss/_content.scss */
.item-wrapper.active#mediacenter {
  background: #05252a;
  z-index: 7;
}
/* line 125, ../scss/_content.scss */
.item-wrapper.active#mediacenter .info-box {
  right: auto;
  left: 250px;
}
@media only screen and (max-width: 991px) {
  /* line 129, ../scss/_content.scss */
  .item-wrapper.active#mediacenter .title-box {
    bottom: 100px;
  }
}
/* line 134, ../scss/_content.scss */
.item-wrapper.active#mediacenter .key-art {
  right: 0;
  animation: fadeIn .5s forwards ease-in-out;
  animation-delay: 1s;
  background: url(./../../../assets/images/mcjs.png) no-repeat bottom right;
}
/* line 142, ../scss/_content.scss */
.item-wrapper.active#ecommerce {
  background: #09253f;
  z-index: 7;
}
/* line 145, ../scss/_content.scss */
.item-wrapper.active#ecommerce .key-art {
  background: url(./../../../assets/images/ecommerce.png) no-repeat top left;
}
/* line 148, ../scss/_content.scss */
.item-wrapper.active#ecommerce .title-box {
  display: none;
}
/* line 156, ../scss/_content.scss */
.item-wrapper:after {
  content: '';
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(./../../../assets/images/glow.png) no-repeat top left;
}
/* line 168, ../scss/_content.scss */
.item-wrapper .key-art {
  position: absolute;
  opacity: 0;
  top: 0;
  right: -100px;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
}
@media only screen and (max-width: 991px) {
  /* line 168, ../scss/_content.scss */
  .item-wrapper .key-art {
    right: 0;
    background-size: cover !important;
  }
}
/* line 184, ../scss/_content.scss */
.item-wrapper .title-box,
.item-wrapper .info-box {
  z-index: 4;
  opacity: 0;
}
/* line 190, ../scss/_content.scss */
.item-wrapper .info-box {
  position: absolute;
  right: 150px;
  top: 100px;
  width: 350px;
}
@media only screen and (max-width: 991px) {
  /* line 190, ../scss/_content.scss */
  .item-wrapper .info-box {
    top: 150px;
    right: auto !important;
    left: 50px !important;
  }
}
/* line 202, ../scss/_content.scss */
.item-wrapper .title-box {
  position: absolute;
  left: 0;
  top: 500px;
  width: auto;
}
@media only screen and (max-width: 991px) {
  /* line 202, ../scss/_content.scss */
  .item-wrapper .title-box {
    top: auto;
    bottom: 150px;
  }
}
/* line 213, ../scss/_content.scss */
.item-wrapper .next-box {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  width: 100px;
  height: 100px;
  background: #000;
  opacity: 0;
  animation: fadeIn .5s forwards ease-in-out;
  animation-delay: 1s;
  z-index: 6;
}
@media only screen and (max-width: 991px) {
  /* line 213, ../scss/_content.scss */
  .item-wrapper .next-box {
    width: 100px;
    height: 100px;
  }
}
/* line 225, ../scss/_content.scss */
.item-wrapper .next-box:after {
  content: '';
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 200px;
  opacity: .5;
  z-index: -1;
}
@media only screen and (max-width: 991px) {
  /* line 225, ../scss/_content.scss */
  .item-wrapper .next-box:after {
    display: none;
  }
}
/* line 242, ../scss/_content.scss */
.item-wrapper .next-box.paragon {
  background: #181818;
}
/* line 244, ../scss/_content.scss */
.item-wrapper .next-box.paragon:after {
  background: url(./../../../assets/images/paragon.png) no-repeat -816px -213px;
}
/* line 249, ../scss/_content.scss */
.item-wrapper .next-box.ut {
  background: #410f0f;
}
/* line 251, ../scss/_content.scss */
.item-wrapper .next-box.ut:after {
  background: url(./../../../assets/images/ut.png) no-repeat -816px -213px;
}
/* line 256, ../scss/_content.scss */
.item-wrapper .next-box.ue {
  background: #09253f;
}
/* line 258, ../scss/_content.scss */
.item-wrapper .next-box.ue:after {
  background: url(./../../../assets/images/ue.png) no-repeat -816px -213px;
}
/* line 263, ../scss/_content.scss */
.item-wrapper .next-box.fortnite {
  background: #293c3f;
}
/* line 265, ../scss/_content.scss */
.item-wrapper .next-box.fortnite:after {
  background: url(./../../../assets/images/fortnite.png) no-repeat -816px -213px;
}
/* line 270, ../scss/_content.scss */
.item-wrapper .next-box.ecommerce {
  background: #09253f;
}
/* line 272, ../scss/_content.scss */
.item-wrapper .next-box.ecommerce:after {
  background: url(./../../../assets/images/ecommerce.png) no-repeat -816px -213px;
}
/* line 277, ../scss/_content.scss */
.item-wrapper .next-box.mediacenter {
  background: #05252a;
}
/* line 279, ../scss/_content.scss */
.item-wrapper .next-box.mediacenter:after {
  background: url(./../../../assets/images/mcjs.png) no-repeat -816px -213px;
}
/* line 288, ../scss/_content.scss */
.item-wrapper .next-box .arrow {
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 200px;
  position: absolute;
  cursor: pointer;
  left: -20px;
  top: -20px;
  z-index: 3;
}
/* line 298, ../scss/_content.scss */
.item-wrapper .next-box .arrow span {
  width: 20px;
  height: 20px;
  border-width: 4px 4px 0 0;
  border-style: solid;
  transform: rotate(45deg);
  position: relative;
  margin: 15px 0 0 13px;
  display: inline-block;
  vertical-align: middle;
  color: #000;
  box-sizing: border-box;
}
/* line 310, ../scss/_content.scss */
.item-wrapper .next-box .arrow span:before {
  content: "";
  box-sizing: border-box;
  right: 0;
  top: -3px;
  position: absolute;
  height: 4px;
  box-shadow: inset 0 0 0 32px;
  transform: rotate(-45deg);
  width: 23px;
  transform-origin: right top;
}

/* line 329, ../scss/_content.scss */
aside {
  width: 40vw;
  position: absolute;
  right: -50vw;
  opacity: 0;
  top: 0;
  background: #fff;
  height: 100vh;
  z-index: 9;
}
@media only screen and (max-width: 991px) {
  /* line 329, ../scss/_content.scss */
  aside {
    width: 80vw;
  }
}
/* line 341, ../scss/_content.scss */
aside.show {
  animation: asideSlide .5s forwards ease-in-out;
}
/* line 344, ../scss/_content.scss */
aside.hide {
  animation: asideSlideFlipped 0.5s reverse ease-in-out !important;
}
/* line 348, ../scss/_content.scss */
aside .tile-wrapper {
  margin-top: 160px;
  margin-left: 20px;
  width: 40vw;
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 991px) {
  /* line 348, ../scss/_content.scss */
  aside .tile-wrapper {
    width: 80vw;
    margin-top: 30px;
  }
}
/* line 359, ../scss/_content.scss */
aside .tile-wrapper h2 {
  color: #000;
  width: 100%;
  text-transform: uppercase;
  margin-left: 20px;
}
/* line 366, ../scss/_content.scss */
aside .tile-wrapper .tile {
  width: 200px;
  height: 200px;
  background: red;
  margin: 20px;
  float: left;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
@media only screen and (max-width: 991px) {
  /* line 366, ../scss/_content.scss */
  aside .tile-wrapper .tile {
    width: 125px;
    height: 100px;
    margin: 10px;
  }
}
/* line 381, ../scss/_content.scss */
aside .tile-wrapper .tile:after {
  content: '';
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 200px;
  opacity: .5;
  z-index: 1;
}
/* line 395, ../scss/_content.scss */
aside .tile-wrapper .tile span {
  position: absolute;
  bottom: 10px;
  left: 20px;
  text-transform: uppercase;
  font-weight: 700;
  z-index: 2;
  color: #fff;
}
@media only screen and (max-width: 991px) {
  /* line 395, ../scss/_content.scss */
  aside .tile-wrapper .tile span {
    font-size: 11px;
  }
}
/* line 408, ../scss/_content.scss */
aside .tile-wrapper .tile.paragon {
  background: #181818;
}
/* line 410, ../scss/_content.scss */
aside .tile-wrapper .tile.paragon:after {
  background: url(./../../../assets/images/paragon.png) no-repeat -816px -213px;
}
/* line 415, ../scss/_content.scss */
aside .tile-wrapper .tile.ut {
  background: #410f0f;
}
/* line 417, ../scss/_content.scss */
aside .tile-wrapper .tile.ut:after {
  background: url(./../../../assets/images/ut.png) no-repeat -816px -213px;
}
/* line 422, ../scss/_content.scss */
aside .tile-wrapper .tile.ue {
  background: #09253f;
}
/* line 424, ../scss/_content.scss */
aside .tile-wrapper .tile.ue:after {
  background: url(./../../../assets/images/ue.png) no-repeat -816px -213px;
}
/* line 429, ../scss/_content.scss */
aside .tile-wrapper .tile.fortnite {
  background: #293c3f;
}
/* line 431, ../scss/_content.scss */
aside .tile-wrapper .tile.fortnite:after {
  background: url(./../../../assets/images/fortnite.png) no-repeat -816px -213px;
}
/* line 436, ../scss/_content.scss */
aside .tile-wrapper .tile.ecommerce {
  background: #09253f;
}
/* line 438, ../scss/_content.scss */
aside .tile-wrapper .tile.ecommerce:after {
  background: url(./../../../assets/images/ecommerce.png) no-repeat -816px -213px;
}
/* line 443, ../scss/_content.scss */
aside .tile-wrapper .tile.mediacenter {
  background: #05252a;
}
/* line 445, ../scss/_content.scss */
aside .tile-wrapper .tile.mediacenter:after {
  background: url(./../../../assets/images/mcjs.png) no-repeat -816px -213px;
}
/* line 452, ../scss/_content.scss */
aside .aside-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40vw;
  color: #000;
  height: 150px;
  padding: 20px 20px 20px 40px;
}
@media only screen and (max-width: 991px) {
  /* line 452, ../scss/_content.scss */
  aside .aside-footer {
    width: 80vw;
  }
}
/* line 463, ../scss/_content.scss */
aside .aside-footer ul, aside .aside-footer span {
  float: left;
}
/* line 466, ../scss/_content.scss */
aside .aside-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
/* line 472, ../scss/_content.scss */
aside .aside-footer span {
  display: block;
  clear: both;
  font-size: 11px;
  margin-top: 20px;
}
/* line 478, ../scss/_content.scss */
aside .aside-footer li {
  margin: 0;
  padding: 0;
  float: left;
}
/* line 482, ../scss/_content.scss */
aside .aside-footer li a {
  color: #000;
  font-size: 24px;
  margin: 0 30px 30px 0;
  text-decoration: none;
}
@media only screen and (max-width: 991px) {
  /* line 482, ../scss/_content.scss */
  aside .aside-footer li a {
    margin: 0 15px 10px 0;
  }
}
/* line 494, ../scss/_content.scss */
aside .aside-close {
  float: right;
  font-size: 30px;
  font-weight: 800;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-width: 4px 4px 0 0;
  border-style: solid;
  transform: rotate(-135deg);
  position: relative;
  margin: 60px 30px;
  display: inline-block;
  vertical-align: middle;
  color: #000;
  box-sizing: border-box;
}
@media only screen and (max-width: 991px) {
  /* line 494, ../scss/_content.scss */
  aside .aside-close {
    float: left;
  }
}
@media only screen and (max-width: 991px) {
  /* line 494, ../scss/_content.scss */
  aside .aside-close {
    margin: 30px 30px 0;
  }
}
/* line 516, ../scss/_content.scss */
aside .aside-close:before {
  content: "";
  box-sizing: border-box;
  right: 0;
  top: -3px;
  position: absolute;
  height: 4px;
  box-shadow: inset 0 0 0 32px;
  transform: rotate(-45deg);
  width: 23px;
  transform-origin: right top;
}

/* line 531, ../scss/_content.scss */
body.asideActive .item-wrapper {
  animation: asideBody .5s forwards ease-in-out;
}
@media only screen and (max-width: 991px) {
  /* line 531, ../scss/_content.scss */
  body.asideActive .item-wrapper {
    animation: asideBodyMobile .5s forwards ease-in-out;
  }
}

/* line 537, ../scss/_content.scss */
body.asideInactive .item-wrapper {
  animation: asideBodyFlipped 0.2s forwards ease-in-out !important;
}
@media only screen and (max-width: 991px) {
  /* line 537, ../scss/_content.scss */
  body.asideInactive .item-wrapper {
    animation: asideBodyFlippedMobile .5s forwards ease-in-out;
  }
}

@keyframes slide {
  100% {
    right: 150px;
    opacity: 1;
  }
}
@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
@keyframes slideFade {
  0% {
    left: 0;
    opacity: 0;
  }
  100% {
    left: 50px;
    opacity: 1;
  }
}
@keyframes asideSlide {
  100% {
    right: 0;
    opacity: 1;
  }
}
@keyframes asideBody {
  100% {
    filter: grayscale(100%);
    transform: scale(0.9);
  }
}
@keyframes asideBodyMobile {
  100% {
    transform: scale(0.9);
  }
}
@keyframes asideSlideFlipped {
  100% {
    right: -50vw;
    opacity: 0;
  }
}
@keyframes asideBodyFlipped {
  0% {
    filter: grayscale(100%);
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    filter: grayscale(0%);
  }
}
@keyframes asideBodyFlippedMobile {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
/* line 2, ../scss/_footer.scss */
.pre-footer a.btn {
  text-transform: uppercase;
  padding: 10px;
  border: 1px solid #333;
  color: #333;
  border-radius: 0;
  transition: all ease .3s;
  text-align: center;
  width: 200px;
  margin: 0 auto;
  display: block;
}
@media only screen and (max-width: 991px) {
  /* line 2, ../scss/_footer.scss */
  .pre-footer a.btn {
    margin: 20px auto 0;
  }
}
/* line 13, ../scss/_footer.scss */
.pre-footer a.btn:hover {
  text-decoration: none;
  border-color: white;
  color: #fff;
  background-color: #fff;
}

/* line 26, ../scss/_footer.scss */
footer {
  background: #19171a;
  width: 100%;
  height: 160px;
  padding: 50px 0;
  position: relative;
  display: none;
}
/* line 33, ../scss/_footer.scss */
footer.show {
  display: block;
  margin-top: 40px;
}
/* line 37, ../scss/_footer.scss */
footer .copy {
  width: 100%;
  text-align: center;
  color: #cccccc;
  display: block;
  font-size: 12px;
  margin-top: 30px;
}
@media only screen and (max-width: 767px) {
  /* line 37, ../scss/_footer.scss */
  footer .copy {
    font-size: 11px;
  }
}
/* line 48, ../scss/_footer.scss */
footer .icon-wrapper {
  width: 270px;
  margin: 0 auto;
}
/* line 52, ../scss/_footer.scss */
footer .icon-logo:before {
  color: #fff;
}
/* line 55, ../scss/_footer.scss */
footer a {
  color: #fff;
  font-size: 24px;
  margin: 0 30px;
}
/* line 60, ../scss/_footer.scss */
footer a:hover, footer a:focus, footer a:active {
  color: #cccccc;
  text-decoration: none;
}

/* line 71, ../scss/_footer.scss */
body.home footer {
  display: block;
}
