@font-face {
  font-family: "Brutal_Bold";
  src: url("../fonts/brutal/BrutalType-Bold/BrutalType-Bold.eot");
  src: url("../fonts/brutal/BrutalType-Bold/BrutalType-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/brutal/BrutalType-Bold/BrutalType-Bold.woff") format("woff"), url("../fonts/brutal/BrutalType-Bold/BrutalType-Bold.svg#BrutalType-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Brutal_Medium";
  src: url("../fonts/brutal/BrutalType-Medium/BrutalType-Medium.eot");
  src: url("../fonts/brutal/BrutalType-Medium/BrutalType-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/brutal/BrutalType-Medium/BrutalType-Medium.woff") format("woff"), url("../fonts/brutal/BrutalType-Medium/BrutalType-Medium.svg#BrutalType-Medium") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Brutal_Regular";
  src: url("../fonts/brutal/BrutalType-Regular/BrutalType-Regular.eot");
  src: url("../fonts/brutal/BrutalType-Regular/BrutalType-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/brutal/BrutalType-Regular/BrutalType-Regular.woff") format("woff"), url("../fonts/brutal/BrutalType-Regular/BrutalType-Regular.svg#BrutalType-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Brutal_Light";
  src: url("../fonts/brutal/BrutalType-Light/brutaltype-light-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Brutal_Extra_Light";
  src: url("../fonts/brutal/BrutalType-ExtraLight/BrutalType-ExtraLight.eot");
  src: url("../fonts/brutal/BrutalType-ExtraLight/BrutalType-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/brutal/BrutalType-ExtraLight/BrutalType-ExtraLight.woff") format("woff"), url("../fonts/brutal/BrutalType-ExtraLight/BrutalType-ExtraLight.svg#BrutalType-ExtraLight") format("svg");
  font-weight: 300;
  font-style: normal;
}
/* line 1, ../sass/_nav.sass */
nav {
  height: 52px;
  background: url(https://cdn3.unrealengine.com/Creative+Services%2FDocs-styled%2Fimages%2Fnav-1920x52-f73cda0b307e4cb78787695ccf3891904c2c82b5.jpg) no-repeat top left;
  background-size: cover;
  width: 100vw;
  position: relative;
}

/* line 1, ../sass/_sideNav.sass */
#sideNav {
  position: relative;
  top: 0;
  width: 350px;
  transition: all 0.2s ease;
}
/* line 8, ../sass/_sideNav.sass */
#sideNav #menu.sequential a {
  background-image: url(../../images/check-grey.png);
  background-repeat: no-repeat;
  background-position: 95% 15px;
}
/* line 12, ../sass/_sideNav.sass */
#sideNav.fixed {
  position: fixed;
  top: 30px;
}
/* line 15, ../sass/_sideNav.sass */
#sideNav h6 {
  padding: 10px 52px;
  color: #afafaf;
}
/* line 18, ../sass/_sideNav.sass */
#sideNav a {
  color: #707070;
  font-size: 13px;
  font-weight: normal;
  text-decoration: none;
  text-align: left;
  display: block;
  padding: 15px 15px;
  border: 1px solid transparent;
}
/* line 27, ../sass/_sideNav.sass */
#sideNav a.done {
  background-image: url(../../images/check-green.png) !important;
}
/* line 29, ../sass/_sideNav.sass */
#sideNav a:hover {
  border: 1px solid #edeff3;
}
/* line 31, ../sass/_sideNav.sass */
#sideNav .active {
  background-color: #edeff3 !important;
  border: 1px solid #edeff3;
  border-radius: 4px;
}

/* line 1, ../sass/_header.sass */
.big-header {
  height: 400px;
  background: url(https://cdn3.unrealengine.com/Creative+Services%2FDocs-styled%2Fimages%2Fheader-1920x536-a77fe53fce3e4f86976d48ec36aa31916588e492.jpg) no-repeat top left;
  background-size: cover;
  width: 100vw;
}
@media only screen and (max-width: 991px) {
  /* line 1, ../sass/_header.sass */
  .big-header {
    height: 280px;
  }
}
/* line 8, ../sass/_header.sass */
.big-header h1 {
  position: absolute;
  left: 0;
  top: 80px;
  width: 100vw;
  text-align: center;
  color: #fff;
  font-family: "Brutal_Light", sans-serif, arial;
  text-transform: uppercase;
  font-size: 48px;
}
@media only screen and (max-width: 991px) {
  /* line 8, ../sass/_header.sass */
  .big-header h1 {
    position: relative;
    top: 40px;
    font-size: 26px;
  }
}
/* line 23, ../sass/_header.sass */
.big-header .search-wrapper {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 200px;
}
/* line 31, ../sass/_header.sass */
.big-header .search-wrapper a {
  text-decoration: none;
  color: #232323;
  display: block;
}
@media only screen and (max-width: 991px) {
  /* line 23, ../sass/_header.sass */
  .big-header .search-wrapper {
    position: relative;
    width: 100vw;
    top: 60px;
  }
}
/* line 39, ../sass/_header.sass */
.big-header .search-wrapper .search-results {
  background: #fff;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.4);
  padding: 0 20px 20px;
  width: 45vw;
  display: none;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 70px;
  z-index: 8;
}
@media only screen and (max-width: 991px) {
  /* line 39, ../sass/_header.sass */
  .big-header .search-wrapper .search-results {
    width: 80vw;
  }
}
/* line 54, ../sass/_header.sass */
.big-header .search-wrapper .search-results.open, .big-header .search-wrapper .search-results:hover {
  display: block;
}
/* line 58, ../sass/_header.sass */
.big-header .search-wrapper .search-results.blueprint ul.blueprint {
  display: block;
}
/* line 62, ../sass/_header.sass */
.big-header .search-wrapper .search-results.landscape ul.landscape {
  display: block;
}
/* line 64, ../sass/_header.sass */
.big-header .search-wrapper .search-results ul {
  margin: 0;
  padding: 0;
}
/* line 67, ../sass/_header.sass */
.big-header .search-wrapper .search-results ul.blueprint, .big-header .search-wrapper .search-results ul.landscape {
  display: none;
}
/* line 70, ../sass/_header.sass */
.big-header .search-wrapper .search-results ul li {
  position: relative;
  padding-bottom: 15px;
  border-bottom: 1px solid #dadada;
}
/* line 74, ../sass/_header.sass */
.big-header .search-wrapper .search-results ul li.show-all {
  border: 0;
  padding: 20px 0;
}
/* line 77, ../sass/_header.sass */
.big-header .search-wrapper .search-results ul li.show-all a {
  font-size: 16px;
  font-family: "Brutal_Bold", sans-serif, arial;
  color: #232323;
}
/* line 81, ../sass/_header.sass */
.big-header .search-wrapper .search-results .h2 {
  text-align: left;
  font-size: 16px;
  font-family: "Brutal_Regular", sans-serif, arial;
}
/* line 85, ../sass/_header.sass */
.big-header .search-wrapper .search-results .h2 strong {
  font-family: "Brutal_Bold", sans-serif, arial;
}
/* line 87, ../sass/_header.sass */
.big-header .search-wrapper .search-results .desc {
  font-size: 14px;
  text-align: left;
  width: 80%;
}
/* line 91, ../sass/_header.sass */
.big-header .search-wrapper .search-results .version-tag {
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 10px;
  border: 1px solid #d4d4d4;
  color: #272727;
  width: auto;
  position: absolute;
  right: -5px;
  top: 0;
}
/* line 101, ../sass/_header.sass */
.big-header .search-wrapper input {
  padding: 25px 20px;
  border: 1px solid #dadada;
  width: 45vw;
  background: url(https://cdn3.unrealengine.com/Creative+Services%2FDocs-styled%2Fimages%2Fsearch-19x19-bac2bf87c7457b457a3e793c12b4ee0c86bafc5f.png) no-repeat 42vw 27px #f5f5f5;
}
@media only screen and (max-width: 991px) {
  /* line 101, ../sass/_header.sass */
  .big-header .search-wrapper input {
    width: 80vw;
    background-position: 72vw 27px;
  }
}
/* line 109, ../sass/_header.sass */
.big-header .search-wrapper input:focus, .big-header .search-wrapper input:hover {
  background-color: #fff;
}
/* line 112, ../sass/_header.sass */
.big-header .search-wrapper input.typing {
  background: url(https://cdn3.unrealengine.com/Creative+Services%2FDocs-styled%2Fimages%2Fripple-c4d458bf35704c5e9ffbb8a23586f756ad4dfb6a.gif) no-repeat 42vw 22px #fff;
}
@media only screen and (max-width: 991px) {
  /* line 112, ../sass/_header.sass */
  .big-header .search-wrapper input.typing {
    background-position: 72vw 22px;
  }
}

/* line 118, ../sass/_header.sass */
.top-header {
  height: 165px;
  position: relative;
  width: 100%;
  z-index: 4;
}
/* line 123, ../sass/_header.sass */
.top-header .top, .top-header .bottom {
  padding: 20px 65px;
  float: left;
  position: relative;
  width: 100vw;
}
/* line 129, ../sass/_header.sass */
.top-header .top h1 {
  float: left;
  text-align: left;
  font-family: "Brutal_Light", sans-serif, arial;
  text-transform: uppercase;
  font-size: 30px;
}
/* line 135, ../sass/_header.sass */
.top-header .top .search-wrapper {
  position: absolute;
  right: 0;
  top: 5px;
}
@media only screen and (max-width: 991px) {
  /* line 135, ../sass/_header.sass */
  .top-header .top .search-wrapper {
    position: relative;
    top: auto;
    right: auto;
  }
}
/* line 143, ../sass/_header.sass */
.top-header .top .search-wrapper input {
  padding: 15px;
  border: 1px solid #ccc;
  width: 350px;
  background: transparent;
}
@media only screen and (max-width: 991px) {
  /* line 143, ../sass/_header.sass */
  .top-header .top .search-wrapper input {
    width: 100%;
  }
}
/* line 150, ../sass/_header.sass */
.top-header .top .search-wrapper input:focus, .top-header .top .search-wrapper input:hover {
  background: #fff;
}
/* line 153, ../sass/_header.sass */
.top-header .bottom {
  border-bottom: 1px solid #dedede;
  border-top: 1px solid #dedede;
  padding: 10px 0;
  margin-bottom: 50px;
}

/* line 1, ../sass/_breadcrumbs.sass */
.breadcrumbs {
  width: 100vw;
  padding: 20px 65px;
}
/* line 4, ../sass/_breadcrumbs.sass */
.breadcrumbs li {
  position: relative;
  float: left;
  font-size: 14px;
  padding: 0 15px 0 10px;
}
/* line 9, ../sass/_breadcrumbs.sass */
.breadcrumbs li:first-child {
  padding-left: 0;
}
/* line 12, ../sass/_breadcrumbs.sass */
.breadcrumbs li:last-child:after {
  display: none;
}
/* line 14, ../sass/_breadcrumbs.sass */
.breadcrumbs li:after {
  content: "";
  border: solid #ccc;
  border-width: 0 2px 2px 0;
  position: absolute;
  right: 0;
  top: 6px;
  padding: 2px;
  transform: rotate(-45deg);
}
/* line 23, ../sass/_breadcrumbs.sass */
.breadcrumbs li a {
  font-size: 14px;
  color: #444;
  font-weight: 700;
}
/* line 27, ../sass/_breadcrumbs.sass */
.breadcrumbs li a:hover {
  text-decoration: none;
  color: #777777;
}

/* line 1, ../sass/_tile.sass */
.tile {
  background: #fff;
  padding: 30px 20px;
  border: 1px solid #dfdfdf;
  margin: 20px 0 0;
  display: block;
  border-radius: 2px;
  height: 300px;
}
@media only screen and (max-width: 991px) {
  /* line 1, ../sass/_tile.sass */
  .tile {
    height: auto;
  }
}
/* line 11, ../sass/_tile.sass */
.tile:hover {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  background: #f8f8f8;
}
/* line 14, ../sass/_tile.sass */
.tile:hover *,
.tile:hover .h2,
.tile:hover .desc {
  text-decoration: none !important;
}
/* line 18, ../sass/_tile.sass */
.tile .icon-wrapper {
  display: block;
  width: 75px;
  height: 75px;
  background: #edeff3;
  border-radius: 300px;
  margin: 0 auto;
}
/* line 25, ../sass/_tile.sass */
.tile .h2 {
  font-family: "Brutal_Bold", sans-serif, arial;
  font-size: 16px;
  text-align: center;
  color: #19171a;
}
/* line 30, ../sass/_tile.sass */
.tile .desc {
  font-family: "Source Sans", sans-serif, arial;
  font-size: 14px;
  text-align: center;
  color: #232323;
  line-height: 26px;
}

/* line 39, ../sass/_tile.sass */
#wrapper .content .tile {
  padding: 0;
}
/* line 41, ../sass/_tile.sass */
#wrapper .content .tile .h2,
#wrapper .content .tile .desc {
  padding: 0 20px;
  text-align: left;
}
/* line 45, ../sass/_tile.sass */
#wrapper .content .tile img {
  margin-bottom: 20px;
  height: 130px;
}
/* line 48, ../sass/_tile.sass */
#wrapper .content .tile .h2 {
  color: #0aaff1;
  padding-top: 0;
  margin-top: 0;
}
/* line 53, ../sass/_tile.sass */
#wrapper.tiles-wrapper {
  position: relative;
  overflow: hidden;
  padding: 40px 0;
}

/* line 1, ../sass/_tags.sass */
.content-bar {
  position: absolute;
  right: 25px;
  top: 25px;
  width: 200px;
}
/* line 6, ../sass/_tags.sass */
.content-bar .os-toggle,
.content-bar .version-tag {
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #d4d4d4;
  color: #272727;
  width: auto;
  display: inline-block;
  float: right;
}
/* line 15, ../sass/_tags.sass */
.content-bar .os-toggle {
  width: 60px;
  position: relative;
  margin-right: 5px;
}
/* line 19, ../sass/_tags.sass */
.content-bar .os-toggle .windows {
  width: 15px;
  height: 15px;
  display: inline-block;
  background: url(https://cdn3.unrealengine.com/Creative+Services%2FDocs-styled%2Fimages%2Fcontent%2Fwindows-logo-15x15-03efdc26515dcaddd757acbe9530fdc6fd497362.png);
  margin: 3px 0 0 5px;
}
/* line 25, ../sass/_tags.sass */
.content-bar .os-toggle:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 8px;
  top: 14px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #272727;
}

/* line 1, ../sass/_callout.sass */
.callout {
  border-radius: 2px;
  padding: 20px;
}
/* line 4, ../sass/_callout.sass */
.callout strong, .callout p {
  display: inline;
}
/* line 6, ../sass/_callout.sass */
.callout.tip {
  background: #dff6ff;
  border: 1px solid #0aaff1;
}
/* line 9, ../sass/_callout.sass */
.callout.notice {
  background: #daf2fc;
  border: 1px solid #a9e5ed;
}
/* line 12, ../sass/_callout.sass */
.callout.warning {
  background: #f5f0d9;
  border: 1px solid #e8d192;
}

/* line 1, ../sass/_scaffolding.sass */
body {
  font-family: "Source Sans", sans-serif, arial;
  margin: 0;
  border-bottom: 250px solid #222;
  overflow-x: hidden;
}
/* line 6, ../sass/_scaffolding.sass */
body ul {
  list-style-type: none;
}
/* line 8, ../sass/_scaffolding.sass */
body h2 {
  font-weight: 300;
  margin-bottom: 20px;
}
/* line 12, ../sass/_scaffolding.sass */
body a:hover, body a:focus, body a:active {
  text-decoration: none;
}

/* line 17, ../sass/_scaffolding.sass */
#wrapper {
  padding: 0 0 100px;
  overflow-x: hidden;
  margin-top: -10px;
}
/* line 21, ../sass/_scaffolding.sass */
#wrapper .content-heading,
#wrapper .content {
  min-height: 300px;
  margin: 0 0 0;
  padding: 20px 25px 40px;
}
/* line 26, ../sass/_scaffolding.sass */
#wrapper .content-heading h1, #wrapper .content-heading h2, #wrapper .content-heading h3,
#wrapper .content h1,
#wrapper .content h2,
#wrapper .content h3 {
  font-family: "Brutal_Light", sans-serif, arial;
}
/* line 28, ../sass/_scaffolding.sass */
#wrapper .content-heading h4, #wrapper .content-heading h5,
#wrapper .content h4,
#wrapper .content h5 {
  font-family: "Brutal_Bold", sans-serif, arial;
}
/* line 30, ../sass/_scaffolding.sass */
#wrapper .content-heading h2,
#wrapper .content h2 {
  margin-top: 0;
}
/* line 33, ../sass/_scaffolding.sass */
#wrapper .content-heading img,
#wrapper .content img {
  margin-bottom: 40px;
}
/* line 35, ../sass/_scaffolding.sass */
#wrapper .content-heading img.inline,
#wrapper .content img.inline {
  margin: 0 5px;
  max-height: 500px;
}
/* line 38, ../sass/_scaffolding.sass */
#wrapper .content-heading h6,
#wrapper .content h6 {
  color: #333;
  margin-bottom: 20px;
}
/* line 41, ../sass/_scaffolding.sass */
#wrapper .content-heading p,
#wrapper .content p {
  line-height: 26px;
}
/* line 43, ../sass/_scaffolding.sass */
#wrapper .content-heading ul,
#wrapper .content ul {
  list-style: disc;
}
/* line 45, ../sass/_scaffolding.sass */
#wrapper .content-heading li,
#wrapper .content li {
  padding: 10px 0;
}
/* line 47, ../sass/_scaffolding.sass */
#wrapper .content-heading .image-box,
#wrapper .content .image-box {
  background: #ebebeb;
  height: 400px;
  width: 100%;
  display: block;
  margin-bottom: 20px;
}
/* line 53, ../sass/_scaffolding.sass */
#wrapper .content-heading {
  position: relative;
  overflow: hidden;
  padding-bottom: 20px;
  min-height: 20px;
}

/* line 59, ../sass/_scaffolding.sass */
.overview {
  background: #edeff3;
}

/* line 62, ../sass/_scaffolding.sass */
.sublinks {
  background: #edeff3;
  padding: 20px;
  list-style: none;
}
/* line 66, ../sass/_scaffolding.sass */
.sublinks li {
  padding: 10px 0;
}

/* line 69, ../sass/_scaffolding.sass */
.finish-row {
  text-align: center;
  width: 100%;
  padding: 40px 0;
  border-bottom: 1px solid #edeff3;
  margin-bottom: 40px;
}
/* line 75, ../sass/_scaffolding.sass */
.finish-row .finish {
  display: inline-block;
  margin: 0 auto;
  padding: 20px 20px 20px 60px;
  text-align: center;
  border: 1px solid #edeff3;
  color: #232323;
  text-decoration: none;
  background: url(../../images/check-grey.png) no-repeat 20px 24px;
}
/* line 84, ../sass/_scaffolding.sass */
.finish-row .finish.done, .finish-row .finish:hover {
  color: #fff;
  background: url(../../images/check-white.png) no-repeat 20px 24px #73bb95;
}
