#about,#preabout
  padding-bottom: 50px
  +respond-max-width(sm)
    padding-bottom: 50px
  .equal-height
    > div
      opacity: 0
      transition: all .5s ease
      &:first-child
        left: -40px
      &:last-child
        right: -40px

  +respond-max-width(md)
    .equal-height
      > div
        opacity: 1
        transition: all .5s ease
        &:first-child
          left: 0
        &:last-child
          right: 0
  &.show
    .equal-height
      > div
        opacity: 1
        transition: all .5s ease
        &:first-child
          left: 0
        &:last-child
          right: 0

  .brandlist
    list-style: none
    margin: 40px auto
    text-align: center
    li
      float: left
      margin-right: 10px
      max-width: 15%
      +respond-max-width(sm)
        max-width: 25%
      +respond-max-width(md)
        max-width: 30%
      img
        width: 100%
        opacity: .4
      &:last-child
        margin-right: 0
  .btn-secondary
    margin-bottom: 150px
    width: 200px
    height: 55px
    position: relative
    overflow: hidden
    .open,
    .closed
      position: absolute
      top: 14px
      left: 0
      width: 100%
      text-align: center
      height: 100%
      transition: all ease .5s
    &.open
      .closed
        opacity: 0
      .open
        opacity: 1
    .open
      opacity: 0
    .closed
      opacity: 1
    +respond-max-width(sm)
      margin-bottom: 50px

  h4
    text-align: left
    padding: 0
    margin-left: -15px
    text-transform: capitalize
    font-size: 1em
  .signature
    margin: 20px 0 0 -40px
    img
      opacity: .6

#our-people
  background: $secondary-offset-bg-color
  height: 0
  opacity: 0
  min-height: 0
  overflow: hidden
  transition: all ease .5s
  margin: -150px 0 100px
  +respond-max-width(sm)
    margin-bottom: -50px
    .row > div
      margin-bottom: 40px
  &.open
    min-height: 60vh
    height: 60vh
    opacity: 1
    padding: 40px 0
    +respond-max-width(sm)
      height: 600px

  .image-container
    width: 300px
    height: 400px
    position: relative
    text-align: center
    overflow: hidden
    img
      width: 100%
      margin: 0 auto
    +respond-max-width(xs)
      height: 200px
      width: 100px
      float: left
      img
        margin-top: 30px

  .desc
    +respond-max-width(xs)
      float: left
      width: 200px
      margin-left: 20px

#about
  +respond-max-width(md)
    margin: 200px 0 0 0