#about
  .equal-height
    > div
      opacity: 0
      transition: all .5s ease
      &:first-child
        left: -40px
      &:last-child
        right: -40px

  &.show
    .equal-height
      > div
        opacity: 1
        transition: all .5s ease
        &:first-child
          left: 0
        &:last-child
          right: 0